<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqyk_78yOWbz_hqjuccxTMPdQjP4zLA-U</string>
	<key>GCM_SENDER_ID</key>
	<string>491621337253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moneyLogger.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>money-logger-224</string>
	<key>STORAGE_BUCKET</key>
	<string>money-logger-224.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491621337253:ios:1a30eb85a36f3a9088a54c</string>
</dict>
</plist>